.audio-quran{
    width: 100%;
    height: 60vh;
    background-image: url(/assets/salat-bg.png);
    background-repeat: no-repeat;

    & .audio-quran_body-text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;

        & h1{
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 3rem;
            color: $primary;
        }
    }
}