.contact{
    width: 100%;
    min-height: 50vh;
    padding: 0 10%;
    background-color: #fff;
    text-align: center;
    & .contact-heading-text{
        & .section_heading{
            font-size: 3rem;
        }
    }
    & .contact-box{
        width: 100%;
        padding: 3rem;
        // background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & .send-message{
            width: 50%;
            height: 40px;
            border: none;
            border-radius: 30px;
            padding: 15px;
            margin-right: 20px;
            background-color: $secondary-2;
        }

        & .send-message::placeholder{
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 2rem;
            font-weight: $fontMD;
            color: $primary;
        }
    }

    & .send-btn {
        padding: 12px 20px;
        border: none;
        border-radius: 30px;
        background-color: $primary;
        color: #fff;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 1.5rem;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    & .send-btn:hover {
        transform: translateY(-8%);
        box-shadow: 0 5px 15px $primary;
    }
}