.islamic-event{
    width: 100%;
    // height: 80vh;
    min-height: 60vh;
    background-color: $secondary-2;
    padding: 0 10%;
    & .islamic-event-heading{
        & .section_heading{
            font-size: 3rem;
        }
        & .event-name{
            text-align: center;
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 2rem;
        }
    }

    & .counting-box{
        width: 100%;
        padding: 4rem;
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        place-items: center;
        background-color: #fff;
        margin-top: 50px ;
        justify-content: center;

        & .now-running-event{
            & .event{
                font-size: 2.5rem;
                font-family: 'Merriweather Sans', sans-serif;
                font-weight: $fontMD;
                color: $primary;
            }
        }
        // & .count-time-box{
        //     text-align: center;
        //     width: 40%;
        //     padding: 25px;

        //     & .count-time{
        //         font-family: 'Merriweather Sans', sans-serif;
        //         font-size: 3rem;
        //         color: $primary;
        //     }

        //     & .count{
        //         margin-top: 20px;
        //         text-align: center;
        //         font-family: 'Merriweather Sans', sans-serif;
        //     }
        // }
    }
}